// imports
@import "node_modules/bootstrap/scss/bootstrap";
@import "timeline";
@import "terminal";
@import "resume";

// cool fonts
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=PT+Mono');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

// custom variables
$robofont: 'VT323', monospace;
$terminalfont: 'PT Mono', monospace;

// color variables

.robofont{ font-family: $terminalfont; font-size: 4rem}

.gravatarish{
    height:4rem;
    width:4rem;
}

.opate{
  opacity: .2;
  height: 15rem;
}

.custom-card{
  box-shadow: 5px 5px 3px #888888;
  border-radius: 0;
  height: 15rem;
}

.fixed-height{
  height: 15rem;
}

.round{
  border-radius: 75%;
}


.shadow{
  box-shadow: 5px 5px 3px #888888;
}

ul {
  background: inherit;
}

.paper{
  border-style: solid;
  border-color: blanchedalmond;
  border-width: .1rem 0rem 0rem .1rem;
  // border-width: .1rem .1rem .2rem .1rem;
}
.resume-shadow{
  box-shadow: 5px 7px 10px 0px rgba(0,0,0,0.37);
}
.border-bottom{
  border-bottom: solid black 1px;
}
.marker{
  font-family: 'Permanent Marker', cursive;
}
.bg-gradient-top{
  background-image: linear-gradient(to bottom, #FFEDCF 0%, #FFFFFF 70% );
}
.bg-gradient-bottom{
  background-image: linear-gradient(to bottom, #FFEDCF 70%, #FFFFFF 100% );
}
