<div class="row mt-4">
  <div class="col-4">
    <button type="button" class="btn btn-secondary">
      <a href="https://www.facebook.com/">
        <div><i id="i1" class="fa fa-github fa-2x"></i></div>
        Github
      </a>
    </button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-secondary">
      <a href="https://www.github.com/spence-s">
        <div><i id='i2' class="fa fa-facebook fa-2x"></i></div>
        Facebook
      </a>
  </button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-secondary">
      <a href="https://www.linkedin.com/">
        <div><i id='i3' class="fa fa-linkedin fa-2x"></i></div>
        LinkedIn
      </a>
    </button>  
  </div>
</div>
