<!-- fluid navbar container -->

  <nav class="navbar fixed-top navbar-toggleable navbar-light oswald">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-sm-white rounded" id="navbarNavAltMarkup">
      <div class="navbar-nav text-right mr-2 abs">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" href="/blog">Blog</a>
        <a class="nav-item nav-link" href="/portfolio">Portfolio</a>
        <a class="nav-item nav-link" href="/resume">Resume</a>
      </div>
    </div>
  </nav>

<!-- end fluid nav container  -->
