<!-- fluid navbar container -->

  <nav class="navbar navbar-expand-sm fixed-top navbar-toggleable navbar-light justify-content-end oswald">
    <button 
      class="navbar-toggler navbar-toggler-right" 
      type="button" 
      data-toggle="collapse" 
      data-target="#navbarNavAltMarkup" 
      aria-controls="navbarNavAltMarkup" 
      aria-expanded="false" 
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse rounded abs bg-sm-white" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto text-center">
        <a class="nav-item nav-link" href="/">Home</a>
        <!-- <a class="nav-item nav-link" href="/about">About</a> -->
        <!-- <a class="nav-item nav-link" href="/blog">Blog</a> -->
        <a class="nav-item nav-link" href="/portfolio">Portfolio</a>
        <a class="nav-item nav-link" href="/Spencer_Snyder_Resume.pdf">Resume</a>
      </div>
    </div>
  </nav>

<!-- end fluid nav container  -->
