<!-- Terminal Block -->
  <div class="row justify-content-center">
    <div class="terminal-top col-md-8 col-sm-12">
      <i class="fa fa-circle" style="color: red;"></i>
      <i class="fa fa-circle" style="color: yellow;"></i>
      <i class="fa fa-circle" style="color: green;"></i>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="terminal robofont col-md-8 col-sm-12">
      <span>
        <h6 id="fintext" class="text-left text-black text-nowrap"> ~ $:
          <em id="typertext" class="text-left text-primary text-nowrap">
            <span id="cursor">_</span>
          </em>
        </h6>
      </span>
    </div>
  </div>
<!-- end of terminal like element   -->
