---
layout: default
comments: true
---
<div class="container">
  <div class="row mt-5">
      <div class="col-12 offset-md-3 col-md-6 text-center project-header-border mt-5 pt-3">
        <h1 class="oswald">{{ page.title }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-3 col-md-6 project-content-border pl-3 pr-3">
        {{ content }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 offset-md-3 col-md-6 project-footer-border mb-3 pb-3 pl-3 pr-3">
        {% if page.githubUrl %}
          <a href={{page.githubUrl}} class="card-link" data-toggle="tooltip" data-placement="top" title="View the code!">
            <i class="fa fa-github fa-4x"></i>
          </a>
        {% endif %}
        {% if page.Demo %}
        <a href={{page.Demo}} class="card-link">Demo
          <i class="fa fa-external-link fa-4x"></i>
        </a>
        {% endif %}
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12 offset-md-3 col-md-6 mb-5">
        <a href="/portfolio" class="card-link" data-toggle="tooltip" data-placement="top" title="View the code!">
          <i class="fa fa-arrow-left fa-lg"></i> Back to Portfolio
        </a>
      </div>
    </div>
  </div>
</div>
